nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: #2d98da;
  margin: 0;
  padding-block: 3px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #82ccdd;
}

nav ul li a:visited {
  color: #ecf0f1;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border: 1px solid #95afc0;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dcdde1;
}

th {
  background-color: #40739e;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f1f2f6;
}

tbody tr:hover {
  background-color: #dcdde1;
}
